{% extends 'base.html.twig' %}

{% block title %}Vous n'avez pas le droit d'accéder à cette page{% endblock %}

{% block body %}
    <div class="container">
        <h1>Vous êtes un peu trop curieux cette page ne vous appartiens pas !</h1>
        <div class="alert alert-danger">
            <p>Vous n'avez pas le droit d'accéder à page ! </p>
        </div>

        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour a l'accueil</a>
    </div>

{% endblock %}